<div class="box fc_carousel" id="fc_carousel_{{ module }}">
  <div class="box-header">
    <div class="row">
      <div class="col-sm-{{ show_navigation ? 6 : 12 }} col-xs-{{ show_navigation ? 6 : 12 }}">
		{% if name_as_title %}
        <h3 class="fc_carousel-title">{{ name }}</h3>
		{% else %}
        <h3 class="fc_carousel-title">{{ heading_title }}</h3>
		{% endif %}
      </div>
	  {% if show_navigation %}
      <div class="col-sm-6 text-right">    
        <div class="fc_carousel-controls btn-group text-right" role="group">
          <button type="button" class="btn fc_carousel-left" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </button>
          <button type="button" class="btn fc_carousel-right" data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
	  {% endif %}
    </div>
  </div>
  <div class="box-content row" id="featured_category_carousel_{{ module }}">
      {% for category in categories %}
      <div class="item">
		  <div class="category-layout">
			<div class="category-thumb transition">
				<div class="image"><a href="{{ category.href }}"><img src="{{ category.thumb }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" /></a></div>
				{% if show_title or show_description %}
				<div class="caption">
					{% if show_title %}
					<h4><a href="{{ category.href }}">{{ category.name }}</a></h4>
					{% endif %}
					{% if show_description %}
					<p class="description">{{ category.description }}</p>
					{% endif %}
				</div>
				{% endif %}
			</div>
		  </div>
      </div>
      {% endfor %}
  </div>
</div>

<script>
var fc_carousel_{{ module }} = $('#featured_category_carousel_{{ module }}');
fc_carousel_{{ module }}.owlCarousel({
  items: {{ itemspage }},  
  itemsDesktop: [1199,{{ itemspage }}],
  itemsDesktopSmall: [979, {{ itemspage }}],
  itemsTablet: [768, {{ itemspage }}],
  itemsTabletSmall: [768, {{ itemspage }}],
  itemsMobile: [479,1],
  autoPlay: {{ auto_play?3000:'false' }},
  pagination: {{ show_pagination?'true':'false' }},
  stopOnHover: {{ pause_on_hover?'true':'false' }}
});
{% if show_navigation %}
// Custom Navigation Events
$("#fc_carousel_{{ module }} .fc_carousel-right").click(function(){fc_carousel_{{ module }}.trigger('owl.next'); });
$("#fc_carousel_{{ module }} .fc_carousel-left").click(function(){fc_carousel_{{ module }}.trigger('owl.prev'); });
{% endif %}
</script>