{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-fpcarousel" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error.error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error.error_warning }}
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong><i class="fa fa-pencil"></i> {{ text_edit }}</strong></h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-fpcarousel" class="form-horizontal">
					<div class="row">
						<div class="col-sm-6">	
							<div class="row">
								<div class="col-sm-12">	
									<label class="control-label" for="input-name">{{ entry_name }}</label>
									<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
									{% if error_name %}
									<div class="text-danger">{{ error_name }}</div>
									{% endif %}
								</div>
								<div class="col-sm-12">
									<label class="control-label">
										<span data-toggle="tooltip" title="" data-original-title="{{ help_name_as_title }}">{{ entry_name_as_title }}</span>
									</label>
									<select name="name_as_title" id="input-name_as_title" class="form-control">
										{% if name_as_title %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>
								</div>
							</div>	
							<div class="row">
								<div class="col-sm-12">
								<label class="control-label" for="input-category">
									<span data-toggle="tooltip" title="" data-original-title="{{ help_categories }}">{{ entry_categories }}</span>
								</label>
								  <input id="input-category" class="form-control" type="text" name="category" value="" placeholder="{{ entry_categories }}" />
								  <div id="fccarousel-category" class="well well-sm" style="height: 150px; overflow: auto;">
									{% for category in categories %}
									<div id="fccarousel-category{{ category.category_id }}">
										<i class="fa fa-minus-circle"></i> {{ category.name }}
										<input type="hidden" name="categories[]" value="{{ category.category_id }}" />
									</div>
									{% endfor %}
								  </div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6">
								<div class="form-groupr">
								<label class="control-label" for="input-show_title">
									<span data-toggle="tooltip" title="" data-original-title="{{ help_show_title }}">{{ entry_show_title }}</span>
								</label>
								<select id="input-show_title" class="form-control" name="show_title" >
									{% if show_title %}
									<option value="1" selected="selected">{{ text_yes }}</option>
									<option value="0">{{ text_no }}</option>
									{% else %}
									<option value="1">{{ text_yes }}</option>
									<option value="0" selected="selected">{{ text_no }}</option>
									{% endif %}
								</select>
								</div>
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="input-show_description">
										<span data-toggle="tooltip" title="" data-original-title="{{ help_show_description }}">{{ entry_show_description }}</span>
									</label>
									<select id="input-show_description" class="form-control" name="show_description" >
										{% if show_description %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>		  
								</div>		  
							</div>
							<div class="row">		  
								<div class="col-sm-6">
									<label class="control-label" for="input-limit">{{ entry_limit }}</label>
									<input id="input-limit" class="form-control" type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" />			
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="input-itemspage">{{ entry_itemspage }}</label>
									<input id="input-itemspage" class="form-control" type="text" name="itemspage" value="{{ itemspage }}" size="3" />			
								</div>		  
							</div>
							
							<div class="row">		  
								<div class="col-sm-6">
									<label class="control-label" for="input-itemspage-lg">{{ entry_itemspage }} (lg)</label>
									<input id="input-itemspage-lg" class="form-control" type="text" name="itemspage_lg" value="{{ itemspage_lg }}" size="3" />				
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="input-itemspage-md">{{ entry_itemspage }} (md)</label>
									<input id="input-itemspage-md" class="form-control" type="text" name="itemspage_md" value="{{ itemspage_md }}" size="3" />			
								</div>		  
							</div>							
							<div class="row">		  
								<div class="col-sm-6">
									<label class="control-label" for="input-itemspage-sm">{{ entry_itemspage }} (sm)</label>
									<input id="input-itemspage-sm" class="form-control" type="text" name="itemspage_sm" value="{{ itemspage_sm }}" size="3" />				
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="input-itemspage-xs">{{ entry_itemspage }} (xs)</label>
									<input id="input-itemspage-xs" class="form-control" type="text" name="itemspage_xs" value="{{ itemspage_xs }}" size="3" />			
								</div>		  
							</div>
							
							<div class="row">	
								<div class="col-sm-6">
									<label class=" control-label">
										<span data-toggle="tooltip" title="" data-original-title="{{ help_shuffle_items }}">{{ entry_shuffle_items }}</span>
									</label>
									<select id="input-shuffle_items" class="form-control" name="shuffle_items">
										{% if shuffle_items %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>			  
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="input-auto_play">
										<span data-toggle="tooltip" title="" data-original-title="{{ help_auto_play }}">{{ entry_auto_play }}</span>
									</label>
									<select id="input-auto_play" class="form-control" name="auto_play" >
										{% if auto_play %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>			  
								</div>		  
							</div>
							<div class="row">
								<div class="col-sm-6">
									<label class="control-label" for="input-pause_on_hover">
										<span data-toggle="tooltip" title="" data-original-title="{{ help_pause_on_hover }}">{{ entry_pause_on_hover }}</span>
									</label>
									<select id="input-pause_on_hover" class="form-control" name="pause_on_hover">
										{% if pause_on_hover %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>			  
								</div>
								<div class="col-sm-6">
									<label class="control-label">
										<span data-toggle="tooltip" title="" data-original-title="{{ help_show_pagination }}">{{ entry_show_pagination }}</span>
									</label>
									<select id="input-show_pagination" class="form-control" name="show_pagination" >
										{% if show_pagination %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>			  
								</div>		  
							</div>
							<div class="row">
								<div class="col-sm-6">
									<label class="control-label" for="input-pagination_numbers">
										<span data-toggle="tooltip" title="" data-original-title="{{ help_pagination_numbers }}">{{ entry_pagination_numbers }}</span>
									</label>
									<select id="input-pagination_numbers" class="form-control" name="pagination_numbers">
										{% if pagination_numbers %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>			  
								</div>
								<div class="col-sm-6">
									<label class="control-label">
										<span data-toggle="tooltip" title="" data-original-title="{{ help_scroll_per_page }}">{{ entry_scroll_per_page }}</span>
									</label>
									<select id="input-scroll_per_page" class="form-control" name="scroll_per_page" >
										{% if scroll_per_page %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>			  
								</div>		  
							</div>
							<div class="row">
								<div class="col-sm-6">
									<label class="control-label">
										<span data-toggle="tooltip" title="" data-original-title="{{ help_show_navigation }}">{{ entry_show_navigation }}</span>
									</label>
									<select id="input-show_navigation" class="form-control" name="show_navigation">
										{% if show_navigation %}
										<option value="1" selected="selected">{{ text_yes }}</option>
										<option value="0">{{ text_no }}</option>
										{% else %}
										<option value="1">{{ text_yes }}</option>
										<option value="0" selected="selected">{{ text_no }}</option>
										{% endif %}
									</select>		  
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="input-thumb_width">{{ entry_thumb_size }}</label>
									<div class="row">
										<div class="col-sm-6">
										  <input type="text" name="thumb_width" value="{{ thumb_width }}" placeholder="{{ entry_thumb_width }}" id="input-thumb_width" class="form-control" />
										  {% if error_thumb_width %}
										  <div class="text-danger">{{ error_thumb_width }}</div>
										  {% endif %}
										</div>
										<div class="col-sm-6">
										  <input type="text" name="thumb_height" value="{{ thumb_height }}" placeholder="{{ entry_thumb_height }}" id="input-thumb_height" class="form-control" />
										  {% if error_thumb_height %}
										  <div class="text-danger">{{ error_thumb_height }}</div>
										  {% endif %}
										</div>
									</div>			  
								</div>		  
							</div>
							<div class="row">
								<div class="col-sm-12">	
									<label class="control-label" for="input-status">{{ entry_status }}</label>
									<select name="status" id="input-status" class="form-control">
										{% if status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
            <div class="panel-footer">
                <div class="text-right">
                    <button type="submit" form="form-fpcarousel" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i> {{ button_save }}</button>
                    <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i> {{ button_cancel }}</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><strong><i class="fa fa-thumbs-o-up"></i> {{ credits_rating_head }}</strong></h4>
                    </div>
                    <div class="panel-body">
                        <p>{{ credits_rating_text }} <a href="http://www.opencart.com/index.php?route=extension/extension/info&extension_id=22956" target="_blank">http://www.opencart.com/index.php?route=extension/extension/info&extension_id=22956</a></p>
                        <p>{{ credits_rating_moti }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><strong><i class="fa fa-money"></i> {{ credits_donate_head }}</strong></h4>
                    </div>
                    <div class="panel-body">
                        <p>{{ credits_donate_text }}</p>
                    </div>
                </div> 
            </div>
        </div>
               
	</div>
<script type="text/javascript"><!--
$('input[name=\'category\']').autocomplete({
	source: function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		$('input[name=\'category\']').val('');
		
		$('#fccarousel-category' + item['value']).remove();
		
		$('#fccarousel-category').append('<div id="fccarousel-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="categories[]" value="' + item['value'] + '" /></div>');	
	}
});
	
$('#fccarousel-category').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>
</div>
{{ footer }}

